@media screen and (max-width: 576px){
  .btn-primary {
      padding: 15px 25px;
      font-size: 1.12rem;
    }
  .btn-secondary {
    padding: 15px 25px;
    font-size: 1.12rem;
    margin-left: 15px;
  }
  .header-container{
    height: 1183.5px;
  }
    /* Nav Style Here */
  .nav-bar {
    width: 90%;
  }
  .nav-list{
    display: none;
  }
  #hambar{
    display: block;
  }
    /* Banner Style Here  */
  .banner{
    flex-direction: column;
    width: 90%;
  }
  .left-container {
    max-width: 550px;
    width: 100%;
    margin-top: 90px;
    height: 400px;
  }
  .banner-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
  }
  .shape {
    font-size: 6.2rem;
  }
  #res-btn-none{
    display: none;
  }
  #responsive-btn {
    display: inline;
  }

  .right-container {
    width: 85%;
    height: 590px;
    margin-left: 10px;
    margin-top: 20px;
  }
    .right-container img {
      width: 340px;
    }
/* Change your Habits Section Style Here  */
    .habits-img-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .change-your-habits {
      width: 90%;
      padding-top: 50px;
    }
    .habits-header {
      width: 90%;
    }
    .responsive-habit-header{
      font-size: 1.8rem;
    }
    .habits-img-box p {
      padding: 10px 40px;
      line-height: 18px;
    }
    .habits-img-box {
     margin-top: 30px;
     margin-bottom: 20px;
    }
}