@media screen and (max-width: 576px){
  .btn-primary {
      padding: 15px 25px;
      font-size: 1.12rem;
    }
  .btn-secondary {
    padding: 15px 25px;
    font-size: 1.12rem;
    margin-left: 15px;
  }
  .header-container{
    height: 1183.5px;
  }
    /* Nav Style Here */
  .nav-bar {
    width: 90%;
  }
  .nav-list-container {
    border: none;
  }
  .nav-list{
    display: none;
  }
  #hambar{
    display: inline;
    font-size: 30px;
  }
    /* Banner Style Here  */
  .banner{
    flex-direction: column;
    width: 90%;
  }
  .left-container {
    max-width: 550px;
    width: 100%;
    margin-top: 90px;
    height: 400px;
  }
  .banner-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
  }
  .shape {
    font-size: 6.2rem;
  }
  #res-btn-none{
    display: none;
  }
  #responsive-btn {
    display: inline;
  }

  .right-container {
    width: 85%;
    height: 590px;
    margin-left: 10px;
    margin-top: 20px;
  }
    .right-container img {
      width: 340px;
    }
/* Change your Habits Section Style Here  */
    .habits-img-container {
      grid-template-columns: repeat(1, 1fr);
    }
    .change-your-habits {
      width: 90%;
      padding-top: 50px;
    }
    .habits-header {
      width: 90%;
    }
    .responsive-habit-header{
      font-size: 1.8rem;
    }
    .habits-img-box p {
      padding: 10px 40px;
      line-height: 18px;
    }
    .habits-img-box {
     margin-top: 30px;
     margin-bottom: 20px;
    }
    .habits-img-box img {
      width: 250px;
      height: 250px;
    }
 /* Run an Extra Mile Easily Section Style Here  */
    .run-an-extra-mile{
      flex-direction: column;
      width: 90%;
      margin-top: 50px;
    }
    .run-left-container {
      width: 85%;
      padding: 40px 30px 20px 30px;
    }   
    #join-btn{
      padding: 15px 100px;
    }
    .run-right-container {
      width: 90%;
      margin: 20px;
    }   
    .run-right-container img {
      width: 100%;
      height: 280px;
      border-radius: 15px;
      margin: 0px auto;
    }
/* BMI-Calculator Section Style Here  */
  .bmi-header {
    width: 90%;
    margin: 0px auto;
    margin-top: 50px;
  }
  .bmi-calculator-section {
    width: 100%;
    height: 800px;
    flex-direction: column;
    margin-top: 30px;
  }
  .bmi-left-container {
    margin-top: 10px;
    margin-left: 30px;
  }
  .input-field input,select {
    width: 80%;
    height: 40px;
    padding-left: 20px;
  }
  .Sex {
    width: 93%;
  }
  .factor {
    width: 97%;
    margin: 15px auto;
    margin-bottom: 40px;
  }
  .bmi-right-container {
    width: 80%;
    margin-left: 30px;
    margin-top: 10px;
  }
}