@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face{
  font-family: "Miama";
  src: url(../miama_2/Miama.ttf);
}

*{
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

/* Shared Style Here */
.paragraph{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.90rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.section-header{
  font-size: 2.8rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.btn-primary{
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 15px 45px;
  color: rgb(255, 255, 255);
  font-size: 1.12rem;
  font-weight: 600;
  border: none;
}
.btn-secondary{
  border-radius: 42px;
    background: transparent;
    padding: 15px 45px;
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 600;
    border: 1px solid white;
    margin-left: 20px;
}

/* Header Style Here  */
.header-container{
  max-width: 1980px;
  width: 100%;
  height: 727px;
  background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(10, 10, 10, 0.9) 100%);
  color: white;
}
/* Nav Style Here */
.nav-bar{
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0px auto;
  padding-top: 60px;
  align-items: center;
}
.nav-title{
  color: rgb(230, 83, 60);
    font-size: 2.5rem;
    font-weight: 800;
}
.nav-list-container{
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding-right: 30px;
  align-items: center;
}
.nav-list{
  display: flex;
  gap: 40px;
}
.list{
  padding: 13px 0px;
}
.customize-home{
  border-radius: 40px;
  background: rgb(230, 83, 60);
  padding: 5px 20px;
  margin: 5px 5px;
  font-size: 1.1rem;
  font-weight: 600;
}
#hambar{
  display: none;
}
/* Banner Style Here  */
.banner{
  display: flex;
  width: 75%;
  margin: 0px auto;
  color: white;
}
.left-container{
  max-width: 550px;
  width: 50%;
  height: 520px;
  margin-top: 90px;
}
.banner-title{
  color: rgb(255, 255, 255);
  font-size: 4.88rem;
  font-weight: 900;
  line-height: 120%;
}
.shape{
  font-family: "Miama";
  font-size: 10rem;
  font-weight: 100;
}
#responsive-btn{
  display: none;
}
.banner-description{
  padding: 40px 0px 30px 0px;
}
.right-container{
 width: 25%;
 height: 530px;
 margin-left: 170px;
 margin-top: 20px;
}
.right-container img{
  width: 360px;
}

/* Main Body Style Here  */
.main-container{
  max-width: 1980px;
  width: 100%;
  color: white;
  background: rgb(0, 0, 0);
}
/* Change your Habits Section Style Here  */
.change-your-habits{
  width: 80%;
  margin: 0px auto;
  padding-top: 100px;
}
.habits-header{
  text-align: center;
  width: 700px;
  margin: 0px auto;
}
.habits-header p{
  padding: 20px 0px;
}
.habits-img-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.habits-img-box{
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
}
.habits-img-box img{
  width: 200px;
  height: 200px;
  border: 5px solid #1A1A1A;
  border-radius: 50%;
}
.habits-img-box h3{
  padding-top: 20px;
}
.habits-img-box p{
  padding-top: 10px;
  line-height: 18px;
}
/* Run an Extra Mile Easily Section Style Here  */
.run-an-extra-mile{
  margin-top: 100px;
  border-radius: 15px;
  background: rgb(34, 34, 34);
  width: 80%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.run-left-container{
  width: 443px;
  padding: 40px 55px;
}
.run-left-container p{
  padding: 14px 0px 30px 0px;
}
.run-right-container{
  width: 400px;
  margin: 35px 10px 20px 140px;
}
.run-right-container img{
  width: 370px;
  height: 280px;
  border-radius: 15px;
}

/* Footer Style Here  */